.App {
    background-color: #eee;
    max-width: 1024px;
    width: 100%;
    height: auto;
    top: 100px;
    position: relative;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 425px) {
    .App {
      top: 50px;
    }
  }
  